@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
@import url('https://fonts.cdnfonts.com/css/lato');

@layer base{
  html{
    margin:0;
    padding:0;
    border:0;
    vertical-align: baseline;
    box-sizing: border-box
  }
  body{
    @apply font-lato;
    color:#3b4c66;
  }
  span.signup-text{
    @apply text-span-color text-base font-inter
  }
  span.links{
    @apply leading-5 text-dotColor text-sm font-inter cursor-pointer
  }
}
