@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.section-container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}
