@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");

@layer base {
  h1,
  h2 {
    color: #142640;
  }
  input {
    flex-basis: 400px;
    flex-grow: 2;
    height: 50px;
    outline: none;
    border-radius: 5px;
  }
  .primary-btn {
    color: white;
    background: #1d90f5;
    flex-basis: 140px;
    flex-grow: 1;
    height: 50px;
    border-radius: 5px;
  }
  .primary-btn:focus {
    border: none;
  }

  .hero-img {
    height: 560px;
    width: 560px;
    flex-basis: 300px;
    flex-shrink: 1;
  }
}
